{
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "avoid",
	"importOrder": ["^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": ["classProperties", "decorators-legacy", "typescript"]
}
