{
  "trailingComma": "all",
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript"
  ]
}
